<!doctype html>
<html lang="en">
<div class="main-wrapper ">
<section class="page-title bg-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-4 text-lg">Get a Quote</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<!--  Section Services Start -->
<section class="section service border-top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Services</span>
					<h2 class="mt-3 content-title ">How much is your land worth?</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-money"></i>
					<h4 class="mb-3">See estimated land value.</h4>
					<p>abc abc abc abc abc abc abc abcabc abcabc abcabc abcabc abcabc abcabc abcabc abc</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-clipboard"></i>
					<h4 class="mb-3">Ask for a personalized report</h4>
					<p>abc abc abc abc abc abc abc abcabc abcabc abcabc abcabc abcabc abcabc abcabc abc</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-stats-up"></i>
					<h4 class="mb-3">Learn to sell your land</h4>
					<p>abc abc abc abc abc abc abc abcabc abcabc abcabc abcabc abcabc abcabc abcabc abc</p>
				</div>
			</div>
<!-- 
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-vector"></i>
					<h4 class="mb-3">Branding.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-android"></i>
					<h4 class="mb-3">App development.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-pencil-alt"></i>
					<h4 class="mb-3">Content creation.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item">
					<i class="ti-layers"></i>
					<h4 class="mb-3">Interface Design.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item">
					<i class="ti-bar-chart"></i>
					<h4 class="mb-3">Business Consulting.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item">
					<i class="ti-vector"></i>
					<h4 class="mb-3">Branding.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div> -->
		</div>
	</div>
</section>
<!--  Section Services End -->

<section class="cta-2">
	<div class="container">
		<div class="cta-block p-5 rounded">
			<div class="row justify-content-center align-items-center ">
				<div class="col-lg-7">
					<span class="text-color">For Every type business</span>
					<h2 class="mt-2 text-white">Entrust Your Project to Our Best Team of Professionals</h2>
				</div>
				<div class="col-lg-4">
					<a href="<%= contact_path %>" class="btn btn-main btn-round-full float-right">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
